<!-- Working grinds -->
<div class="container">
  <div class="row">
    <div class="span12">
      <table id="lol-datatable" data-lol-datatable="true">
        <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr
        data-datatable-link="http://welington.zaez.net/"
        data-datatable-edit-link="#edit_my_page_ws"
        data-datatable-view-link="#view_my_page_ws"
        data-datatable-delete-link="#delete_my_page_ws">
          <td>1</td>
          <td>Welington</td>
          <td>Sampaio</td>
        </tr>
        <tr
        data-datatable-link="http://fabricio.zaez.net/"
        data-datatable-edit-link="#edit_my_page_fm"
        data-datatable-view-link="#view_my_page_fm"
        data-datatable-delete-link="#delete_my_page_fm">
          <td>2</td>
          <td>Fabricio</td>
          <td>Monte</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>