<header>
  <div class="patterns"></div>
  <div class="content">
    <h1>lol framework</h1>
    <div class="container information">
      <div class="row">
        <div class="span8 offset2">
          <p>Framework for frontend for developing RIAs. Using concepts of REST applications, primarily developed to
            work seamlessly with applications RAILS.  As its name says, to develop Lol is fun.</p>
        </div>
      </div>
      <div class="row">
        <div class="span8 offset2">
          <ul class="inline">
            <li>
              <%= link_to "Download Lol Framework", download_path, class: "btn btn-large" %>
            </li>
          </ul>
          <ul class="inline">
            <li>version <%= LolFramework::VERSION %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
