nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  .navbar-inner {
    @include border-radius(0);
    .container {
      a.brand {
        font-family: "BauhausStd-Demi";
        @include transition( color .4s ease-out);
        color: #000;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
        font-size: 18px;
        padding-top: 16px;
        &:hover {
          color: white;
        }
      }
    }
  }
  a {
    @include transition( color .2s ease-out);
    &.brand {
    }
  }

}