<footer class="footer">
  <div class="container">
    <p>Designed and built by <a href="http://welington.zaez.net/" target="_blank">Welington Sampaio</a>.</p>
    <p>Code licensed under <a href="<%= license_path %>">MIT License</a>.</p>
    <p>&nbsp;</p>
    <p><a href="http://twitter.github.com/bootstrap" target="_blank">Twitter Bootstrap</a> licensed under
      <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>.</p>

    <p><a href="http://www.jquery.com/" target="_blank">jQuery</a> licensed under
      <a href="http://jquery.org/license/" target="_blank">MIT License</a>.</p>

    <p><a href="http://backbonejs.org/" target="_blank">Backbone.js</a> licensed under
      <a href="http://github.com/documentcloud/backbone/blob/master/LICENSE" target="_blank">MIT License</a>.</p>

    <p><a href="http://datatables.net/" target="_blank">DataTables</a> licensed under
      <a href="http://datatables.net/license_gpl2" target="_blank">GPL v2 license</a>.</p>

    <ul class="footer-links">
      <li><a href="https://github.com/welingtonsampaio/lol-framework/issues?state=open">Issues</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/welingtonsampaio/lol-framework/blob/master/CHANGELOG.md">Changelog</a></li>
    </ul>
  </div>
</footer>